@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 273 44% 92%;
    --foreground: 270 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 270 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 270 10% 20%;
    --primary: 270 84% 37%;
    --primary-foreground: 0 0% 98%;
    --secondary: 270 20% 96.1%;
    --secondary-foreground: 270 5.9% 10%;
    --muted: 270 20% 96.1%;
    --muted-foreground: 270 5% 45.1%;
    --accent: 207 86% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 20% 89.8%;
    --input: 270 20% 89.8%;
    --ring: 207 86% 53%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --neon-blue: 197 86% 53%;
    --neon-red: 0 84% 60%;
    --neon-yellow: 54 96% 53%;
  }
  .dark {
    --background: 0 0% 2%;
    --foreground: 0 0% 98%;
    --card: 270 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 270 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 270 84% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 270 10% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 270 10% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 207 86% 63%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 10% 20%;
    --input: 270 10% 20%;
    --ring: 207 86% 63%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --neon-blue: 197 86% 53%;
    --neon-red: 0 84% 60%;
    --neon-yellow: 54 96% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
